body {
  background: #f2f2f2;
  font-family: Arial;
  padding: 30px;
}

.container {
  background: #fff;
  padding: 20px;
  width: 350px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
}

.inputBox {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 16px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.del {
  background: red;
}
